body {
  background-color: #6d6e70;
}

#tic-tac-toe {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  background-color: #f78c00;
  border: 2px solid #000000;
}

.cell {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 10px;
}

.cell:hover {
  background-color: #ffd166;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game {
  margin: 10px 0;
  padding: 5px 10px;
  border: 2px solid #000000;
  background-color: #f78c00;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

#scoreboard {
  display: flex;
  margin-bottom: 30px;
}

.player-1-score,
.player-2-score {
  margin: 0 10px;
  font-size: 36px;
}

#game-result{
  font-size: 46px;
  font-weight: bold;
}